#add-username-modal.micromodal.micromodal-slide(aria-hidden='true')
  .micromodal-overlay(tabindex='-1' data-micromodal-close)
    .micromodal-container.account-modal(role='dialog' aria-modal='true')
      .micromodal-header.row.justify-content-between
        .col
          .micromodal-title Добавление ФИО
        .col-auto
          button.micromodal-close
            +svgMono('close')
      .micromodal-content 
        form(action="#") 
          input(type="text" placeholder="Введите ФИО").ct-input.mb-2
          .row.justify-content-end
            .col.col-md-auto
              button.btn-ct-secondary-fill.w-100 СОХРАНИТЬ
