.micromodal
  display: none
  &.is-open
    display: block
  &-overlay
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 99
    display: flex
    justify-content: center
    align-items: center
  &-container
    width: 100%
    background-color: $colorWhite
    padding: 25px
    max-width: 1100px
    max-height: calc(100vh - 40px)
    border-radius: 4px
    box-sizing: border-box
    overflow-y: auto
    &.personal-cabinet
      max-width: 330px
  &-close
    cursor: pointer
    .ico
      pointer-events: none
      fill: $colorRed
      stroke: $colorRed

  &-title
    font-size: 18px
    font-weight: 600
    color: $colorDark

  &-notice
    font-size: 10px
    font-weight: 500
    color: $colorGS20

  &-footer
    font-size: 10px
    text-align: center
    a
      color: $colorSecondary

  hr
    background-color: $colorGS20

  .product-card
    background-color: $colorWhite
    &:hover
      .product-card-short-information
        display: none

  .search-block
    &-content
      position: relative

+r($md)
  .micromodal
    &-container
      padding: 25px 15px
      max-height: 100vh
