#reg-account-modal.micromodal.micromodal-slide(aria-hidden='true')
  .micromodal-overlay(tabindex='-1' data-micromodal-close)
    .micromodal-container.personal-cabinet(role='dialog' aria-modal='true')
      .micromodal-header.row.justify-content-between
        .col
          .micromodal-title Регистрация
        .col-auto
          button.micromodal-close
            +svgMono('close')
      .micromodal-content
        form(action="#").d-flex.flex-column
          .ui-group.mb-2
            input(type="text" placeholder="Ваш номер телефона" required).ct-input
          .ui-group
            input(type="password" placeholder="Пароль" required).ct-input
          .micromodal-content-text-small.my-2 Регистрируясь, вы соглашаетесь с 
            a(href="#") пользовательским соглашением
          input(type="submit" value="ЗАРЕГИСТРИРОВАТЬСЯ").btn-ct-secondary-fill
        .row.align-items-center.my-4.gx-2 
          .col
            hr
          .col-auto
            .micromodal-notice или зарегестрироваться с помощью
          .col
            hr
        .row
          .col
            button.btn-google
              +svgMono('google')
              span Google
          .col 
            button.btn-fb
              +svgMono('fb')
              span Facebook
      .micromodal-footer.mt-4 Уже есть зарегестрированы? 
        button(onclick="hasAccount()") Войти

script.
  function hasAccount() {
    document.querySelector('#reg-account-modal .micromodal-close').click()
    MicroModal.show('enter-account-modal', {
      disableScroll: true,
      disableFocus: true,
      onShow: modal => {
        document.querySelector('.page').classList.add('blur')
        document.querySelector('.header-up').classList.add('blur')
        document.querySelector('.header-functions').classList.add('blur')
        document.querySelector('.footer').classList.add('blur')
      },
      onClose: modal => {
        document.querySelector('.page').classList.remove('blur')
        document.querySelector('.header-up').classList.remove('blur')
        document.querySelector('.header-functions').classList.remove('blur')
        document.querySelector('.footer').classList.remove('blur')
      }
    })
  }