#send-wishlist-modal.micromodal.micromodal-slide(aria-hidden='true')
  .micromodal-overlay(tabindex='-1' data-micromodal-close)
    .micromodal-container.account-modal(role='dialog' aria-modal='true')
      .micromodal-header.row.justify-content-between
        .col
          .micromodal-title Отправить список желаний другу
        .col-auto
          button.micromodal-close
            +svgMono('close')
      .micromodal-content 
        .micromodal-content-text.mb-2 Укажите адрес элекронной почты вашего  для отправки списка желаний.
        input(type="text" placeholder="Электронная почта").ct-input.mb-2
        button.btn-ct-secondary-fill.ms-auto ОТПРАВИТЬ