.product-review
  padding: 20px
  border-radius: 4px

  &-author
    font-size: 18px
    font-weight: 700
    color: $colorDark

  &-date
    font-size: 14px
    font-weight: 400
    color: $colorGS20

  &-buy-badge
    font-size: 14px
    font-weight: 400
    color: $colorPrimary
    .ico
      margin-right: 10px
      font-size: 24px
      fill: $colorPrimary

  &-pros,
  &-cons
    &-title
      font-size: 14px
      font-weight: 400
      color: $colorDark

  &-text,
  &-pros,
  &-cons
    font-size: 14px
    font-weight: 400
    color: $colorGS60

  &-answer
    &:not(:first-child)
      margin-top: 18px
    &-author
      font-size: 16px
      font-weight: 700
      color: $colorDark
    &-date
      font-size: 14px
      font-weight: 400
      color: $colorGS20
    &-text
      font-size: 14px
      font-weight: 400
      color: $colorGS60

  &-answer-toggler
    &.open
      i
        transform: rotate(180deg)

  &-answer-toggler,
  &-answer-btn
    display: flex
    align-items: center
    gap: 10px
    font-size: 14px
    font-weight: 400
    color: $colorSecondary
    &:hover
      color: $colorSecondaryHover
  &-like
    display: flex
    align-items: center
    gap: 10px
    font-size: 14px
    font-weight: 400
    color: $colorSecondary
    .ico
      fill: $colorWhite
      stroke: $colorSecondary
    &:hover
      color: $colorSecondaryHover
      .ico
        fill: $colorSecondaryHover
        stroke: $colorWhite
