-
  var reviews = [
    {
      authorImg: '../img/avatar.jpg',
      authorName: 'Сергей Филимонов',
      buyCheck: true,
      date: '07.04.2021',
      rating: 4,
      likes: 2,
      review: {
        text: 'Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов.',
        pros: 'Абсолютно не шумит, пока не смогл найти задачу, при которой Lorem Ipsum  потребовалось бы подключить куллеры для охлаждения',
        cons: 'Нет'
      },
      answers: [
        {
          author: 'Представитель бренда',
          date: '08.04.2021',
          text: 'Здравствуйте! Рады, что техника Lorem Ipsum пришлась Вам по душе. Благодарим за оставленный отзыв и желаем успешной эксплуатации на долгое время!'
        }
      ]
    },
    {
      authorImg: '../img/avatar.jpg',
      authorName: 'Сергей Филимонов',
      buyCheck: true,
      date: '07.04.2021',
      rating: 4,
      likes: 12,
      review: {
        text: 'Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов.',
        pros: 'Абсолютно не шумит, пока не смогл найти задачу, при которой Lorem Ipsum  потребовалось бы подключить куллеры для охлаждения',
        cons: 'Нет'
      },
      answers: [
        {
          author: 'Представитель бренда',
          date: '08.04.2021',
          text: 'Здравствуйте! Рады, что техника Lorem Ipsum пришлась Вам по душе. Благодарим за оставленный отзыв и желаем успешной эксплуатации на долгое время!'
        },
        {
          author: 'Представитель бренда',
          date: '08.04.2021',
          text: 'Здравствуйте! Рады, что техника Lorem Ipsum пришлась Вам по душе. Благодарим за оставленный отзыв и желаем успешной эксплуатации на долгое время!'
        }
      ]
    },
    {
      authorImg: '../img/avatar.jpg',
      authorName: 'Сергей Филимонов',
      buyCheck: true,
      date: '07.04.2021',
      rating: 4,
      likes: 8,
      review: {
        text: 'Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов.',
        pros: 'Абсолютно не шумит, пока не смогл найти задачу, при которой Lorem Ipsum  потребовалось бы подключить куллеры для охлаждения',
        cons: 'Нет'
      },
      answers: [
        {
          author: 'Представитель бренда',
          date: '08.04.2021',
          text: 'Здравствуйте! Рады, что техника Lorem Ipsum пришлась Вам по душе. Благодарим за оставленный отзыв и желаем успешной эксплуатации на долгое время!'
        },
        {
          author: 'Представитель бренда',
          date: '08.04.2021',
          text: 'Здравствуйте! Рады, что техника Lorem Ipsum пришлась Вам по душе. Благодарим за оставленный отзыв и желаем успешной эксплуатации на долгое время!'
        },
        {
          author: 'Представитель бренда',
          date: '08.04.2021',
          text: 'Здравствуйте! Рады, что техника Lorem Ipsum пришлась Вам по душе. Благодарим за оставленный отзыв и желаем успешной эксплуатации на долгое время!'
        },
        {
          author: 'Представитель бренда',
          date: '08.04.2021',
          text: 'Здравствуйте! Рады, что техника Lorem Ipsum пришлась Вам по душе. Благодарим за оставленный отзыв и желаем успешной эксплуатации на долгое время!'
        },
        {
          author: 'Представитель бренда',
          date: '08.04.2021',
          text: 'Здравствуйте! Рады, что техника Lorem Ipsum пришлась Вам по душе. Благодарим за оставленный отзыв и желаем успешной эксплуатации на долгое время!'
        }
      ]
    },
  ]

.product-reviews
  .product-reviews-title.mb-4 Отзывы (45)
  each item in reviews
    include _product-page-review
  .row.align-items-center.justify-content-between
    .col-auto 
      button.btn-ct-secondary-fill ДОБАВИТЬ ОТЗЫВ
    .col-auto 
      button.show-more.light
        span Смотреть все отзывы
        +svgMono('arrow-right')