section.reviews 
  .container 
    .row 
      .col-xxl-5.col-lg-6 
        h3.mb-4 Отзывы
        include _google-reviews
      .col-xxl-7.col-lg-6
        h3.mb-4 Инстаграм
        include _instagram
        