.compare-dropdown 
  button.btn-control 
    +svgMono('scales')
    .counter 22
  .compare-dropdown-content.p-3 
    .compare-dropdown-title.mb-3 Списки сравнений
    .compare-dropdown-item.row.justify-content-between.align-items-center
      .col-auto
        a(href="#") Мониторы (2)
      .col-auto
        button
          +svgMono('trash')
    .compare-dropdown-item.row.justify-content-between.align-items-center
      .col-auto
        a(href="#") Ноутбуки (4)
      .col-auto
        button
          +svgMono('trash')
    .compare-dropdown-item.row.justify-content-between.align-items-center
      .col-auto 
        a(href="#") Носители информации (2)
      .col-auto
        button 
          +svgMono('trash')
      