---
title: 500
outClass: error-page-layout
---
extends shared/_layout
block content

  section.error-page 
    .container 
      .text-center
        .error-page-name 50*
        .error-page-title.mb-3 Ошибка сервера
        .error-page-text.mb-4 Сервер столкнулся с неожиданной ошибкой, которая помешала ему выполнить запрос. Попробуйте позже.
        button.btn-ct-secondary-fill.mx-auto ПЕРЕЙТИ НА ГЛАВНУЮ