---
title: contacts
outClass: contacts-page
---
extends shared/_layout
block content

  section.contacts.my-5
    .container 
      .contacts-title.mb-4 Контакты
      .row.row-col-2.g-0
        .col-12.col-xxl
          .contacts-data.p-3.p-md-4
            //- 
            .row.flex-nowrap.g-4.mb-4.flex-column.flex-sm-row
              .col-auto 
                 .row.align-items-center.g-3
                    .col-auto
                      +svgMono('phone')
                    .col-auto.d-sm-none
                      .contacts-subtitle-mobile Контактные номера
              .col-auto
                .contacts-subtitle.mb-4 Отдел продаж 
                a(href="tel:").mb-3 (067) 11-12-485
                a(href="tel:").mb-3 (066) 484-39-22
                a(href="tel:")
                  span (063) 747-33-48
                  +svgMono('viber')
                  +svgMono('teleg')
              .col-auto
                .contacts-subtitle.mb-4 Сервисный центр
                a(href="tel:").mb-3 
                  span (097) 097 33 03
                  +svgMono('viber')
                a(href="tel:").mb-3 (066) 097 33 03
                a(href="tel:") (093) 097 33 03
            //- 
            .row.flex-nowrap.g-4.mb-4.flex-column.flex-md-row
              .col-auto
                .row.align-items-center.g-3
                  .col-auto
                    +svgMono('mail')
                  .col-auto.d-md-none
                    .contacts-subtitle-mobile E-mail
              .col-auto
                .contacts-subtitle-dark.mb-2 Интернет-продажи 
                a(href="mailto:").mb-4 yurij.kovika@v-comp.com.ua
                .contacts-subtitle-dark.mb-2 Ремонт техники (сервисный центр) 
                a(href="mailto:").mb-4 a.ovsyannikov@v-comp.com.ua
                .contacts-subtitle-dark.mb-2 Отдел корпоративных продаж (счета с НДС, без НДС) 
                a(href="mailto:") o.ryabiy@v-comp.com.ua
              .col-auto
                .contacts-subtitle-dark.mb-2 Скупка б/у техники
                a(href="mailto:").mb-4 a.krasnoschok@v-comp.com.ua
                .contacts-subtitle-dark.mb-2 Жалобы и предложение
                a(href="mailto:").mb-2 v.krasnoschok@v-comp.com.ua
                a(href="mailto:") a.krasnoschok@v-comp.com.ua
            //- 
            .row.flex-nowrap.g-4.mb-4
              .col-auto 
                +svgMono('clock')
              .col
                .contacts-subtitle.mb-2 Понедельник-Пятница 9:00-19:00
                .contacts-subtitle Суббота-Воскресенье: с 9:00-16:00
            //- 
            .row.flex-nowrap.g-4.mb-4
              .col-auto 
                +svgMono('dest')
              .col
                .contacts-subtitle г. Днепр, ул. Европейская, 8 (бывшая Миронова 8)
            //- 
            .row
              .col-auto 
                +svgMono('skype')
              .col 
                a(href="skype:example123?chat").contacts-subtitle yurij.kovika

        .col-12.col-xxl
          img(src="../img/map2.jpg", alt="map")