---
title: Homepage title
outClass: homepage
---
extends shared/_layout
block content

  //- include ../components/folder/_file.pug
  include ../components/banner/_banner
  include ../components/product/_product-sales
  include ../components/product/_game-zone
