---
title: Mail-thx
outClass: mail
---
extends shared/_mail
block content

  section.mail 
    .container 
      .mail-title.mb-4.mt-5 Спасибо за покупку!
      .mail-notice.mb-4 Спасибо за заказ! Пожалуйста, поделитесь отзывом. Это займет у вас пару минут и позволит нам улучшить сервис.
      .mail-order 
        .row.align-items-center.justify-content-between 
          .col-auto
            .mail-order-title Заказ №454
          .col-auto
            .mail-order-date 25.08.2021
        .row.flex-column 
          .col 
            .row.align-items-center.py-2.border-bottom
              .col-auto 
                img(src="../img/prod/prod-img1.jpg", alt="item" width=90 height=90)
              .col.text-start
                .mail-order-name Процессор Intel Core i5-10400F, Box (BX8070110400F) (BX8070110400F)
                .mail-order-code Код товара: 1231324156  
                button.btn-ct-secondary-fill.mt-2 Оставить отзыв
            .row.align-items-center.py-2.border-bottom
              .col-auto 
                img(src="../img/prod/prod-img2.jpg", alt="item" width=90 height=90)
              .col.text-start
                .mail-order-name Процессор Intel Core i5-10400F, Box (BX8070110400F) (BX8070110400F)
                .mail-order-code Код товара: 1231324156  
                button.btn-ct-secondary-fill.mt-2 Оставить отзыв  
      .mail-rating.my-4
        .mail-description.mb-4 На сколько вы оцениваете работу нашего магазина?
        .row.justify-content-center.g-2
          .col-auto
            button.rate
              +svgMono('star', 'rate-1')
              span Ужасно
          .col-auto
            button.rate
              +svgMono('star', 'rate-2')
              span Плохо
          .col-auto
            button.rate
              +svgMono('star', 'rate-3')
              span Нормально
          .col-auto
            button.rate
              +svgMono('star', 'rate-4')
              span Хорошо
          .col-auto
            button.rate
              +svgMono('star', 'rate-5')
              span Отлично
      .row.justify-content-center.py-2.border-top
        .col-auto.border-end
          a(href="#").mail-link Каталог товаров
        .col-auto
          a(href="#").mail-link Личный кабинет
      