---
title: Sales
outClass: sales-page 
---
extends shared/_layout
block content

  include ../components/crumbs/_crumbs-sales
  include ../components/sales/_sales-list
  include ../components/sales/_sales-slider
  include ../components/sales/_sales-list-2