---
title: Thanks-page
outClass: thx-page-layout
---
extends shared/_layout
block content

  section.thx-page 
    .container.text-center
      .thx-page-image.mb-3 
        +svgColor('circle-check')
      .thx-page-title.mb-3 Благодарим за заказ!
      .thx-page-subtitle.mb-3 Ваш заказ 
        a(href="#") №324
      .thx-page-text.mb-3 Ваш заказ был успешно оформлен. Письмо с подтверждением покупки выслано вам на электронную почту.
      button.btn-ct-primary-fill.mx-auto Продолжить покупки