-
  var products = [
    {
      class: 'col-6 col-md-4 col-xxl-3',
      img: '../img/prod/prod-img7.jpg',
      name: 'Монитор 23.8" Acer K240YB, Black (UM.QE0EE.B01)',
      rating: null,
      review: 0,
      price: '3500',
      salePrice: null,
      newCome: true
    },
    {
      class: 'col-6 col-md-4 col-xxl-3',
      img: '../img/prod/prod-img8.jpg',
      name: 'Монитор 23.8" Acer K240YB, Black (UM.QE0EE.B01)',
      rating: 4,
      review: 4,
      price: '3600',
      salePrice: '3500',
      newCome: false
    },
    {
      class: 'col-6 col-md-4 col-xxl-3',
      img: '../img/prod/prod-img9.jpg',
      name: 'Монитор 23.8" Acer K240YB, Black (UM.QE0EE.B01)',
      rating: 4,
      review: 4,
      price: '3600',
      salePrice: '3500',
      newCome: false
    },
    {
      class: 'col-6 col-md-4 col-xxl-3',
      img: '../img/prod/prod-img10.jpg',
      name: 'Монитор 23.8" Acer K240YB, Black (UM.QE0EE.B01)',
      rating: 4,
      review: 4,
      price: '3600',
      salePrice: '3500',
      newCome: false
    },
    {
      class: 'col-6 col-md-4 col-xxl-3',
      img: '../img/prod/prod-img11.jpg',
      name: 'Монитор 23.8" Acer K240YB, Black (UM.QE0EE.B01)',
      rating: 4,
      review: 4,
      price: '3600',
      salePrice: '3500',
      newCome: false
    },
    {
      class: 'col-6 col-md-4 col-xxl',
      img: '../img/prod/prod-img12.jpg',
      name: 'Монитор 23.8" Acer K240YB, Black (UM.QE0EE.B01)',
      rating: 4,
      review: 4,
      price: '3600',
      salePrice: '3500',
      newCome: false
    },
    {
      class: 'col-6 col-md-4 col-xxl',
      img: '../img/prod/prod-img13.jpg',
      name: 'Монитор 23.8" Acer K240YB, Black (UM.QE0EE.B01)',
      rating: 4,
      review: 4,
      price: '3600',
      salePrice: '3500',
      newCome: false
    },
    {
      class: 'col-6 col-md-4 col-xxl-3',
      img: '../img/prod/prod-img14.jpg',
      name: 'Монитор 23.8" Acer K240YB, Black (UM.QE0EE.B01)',
      rating: 4,
      review: 4,
      price: '3600',
      salePrice: '3500',
      newCome: false
    },
    {
      class: 'col-6 col-md-4 col-xxl-3',
      img: '../img/prod/prod-img15.jpg',
      name: 'Монитор 23.8" Acer K240YB, Black (UM.QE0EE.B01)',
      rating: 4,
      review: 4,
      price: '3600',
      salePrice: '3500',
      newCome: false
    },
    {
      class: 'col-6 col-md-4 col-xxl-3',
      img: '../img/prod/prod-img16.jpg',
      name: 'Монитор 23.8" Acer K240YB, Black (UM.QE0EE.B01)',
      rating: 4,
      review: 4,
      price: '3600',
      salePrice: '3500',
      newCome: false
    },

  ]

.row.align-items-center.gx-3.gx-xxl-4.gy-3(data-view-layout="grid")
  each item in products 
    include ../product/_product-card
  each item in products 
    include ../product/_product-card