.search-menu
  position: relative
  border-radius: 4px

  &-icon
    .ico
      margin-bottom: 2px
      font-size: 20px
      fill: none
      stroke: $colorDarkGrey

  &-name
    font-size: 14px
    font-weight: 500
    color: $colorDarkGrey

  &-content
    padding-left: 40px

  &-link
    display: block
    font-size: 12px
    font-weight: 500
    color: $colorDarkGrey
    span
      color: $colorGS40
    &.all
      padding-left: 30px
