.basket-item
  padding: 12px
  border-top: 1px solid $colorGS10
  border-bottom: 1px solid $colorGS10

  &-price
    font-size: 18px
    font-weight: 700
    color: $colorDark
    text-align: right
    span
      font-size: 12px
      font-weight: 500

  &-remove
    .ico
      font-size: 16px
      fill: none
      stroke: $colorRed

  img
    size: 70px
    object-fit: contain

+r($md)
  .basket-item
    padding: 12px 0
    &-name
      font-size: 12px
