.basket-item
  .row.align-items-center.justify-content-between.g-2
    .col-6
      .row.align-items-center 
        .col-auto 
          img(src=item.img, alt="")
        .col 
          .basket-item-name!=item.text
    .col-2
      .basket-item-price=item.price
        span грн.
