.basket-together

  &-title
    @extend %f-28-600

  &-card
    &-name
      @extend %f-16-500-dark
    img
      size: 160px
      object-fit: contain

  &-number
    font-size: 14px
    color: $colorGS40

  &-price
    @extend %f-28-700
    line-height: 28px
    span
      margin-left: 2px
      font-size: 16px

  &-discount
    font-size: 14px
    color: $colorPrimary
    span
      margin-left: 2px
      font-size: 8px

  &-slider
    position: relative
    padding: 0 70px

  .ico
    font-size: 20px
    fill: none
    stroke: $colorGS40

  .btn-ct-primary-fill
    +r($sm)
      padding: 13px 20px

  .swiper
    &-container
      padding: 24px
      border-radius: 4px
      box-shadow: 0 2px 10px rgba(50, 50, 71, 0.14)
    &-slide
      opacity: 0
      transition: 0.25s all
      &-active
        opacity: 1
    &-button
      &-next,
      &-prev
        position: absolute
        top: 50%
        transform: translateY(-50%)
        cursor: pointer
        .ico
          size: 8px 14px
          fill: none
          stroke: $colorSecondary
        &:hover
          .ico
            stroke: $colorSecondaryHover
      &-next
        right: 0
      &-prev
        left: 0
      &-disabled
        .ico
          stroke: $colorGS60
        &:hover
          .ico
            stroke: $colorGS60

+r($lg)
  .basket-together
    &-slider
      padding: 0 20px
    .btn-ct-primary-fill
      width: 100%

+r($sm)
  .basket-together
    &-card
      &-name
        text-align: justify
        font-size: 10px
      img
        size: 60px
    // .product-card-price-container
    //   display: flex
    //   align-items: start
