.basket
  &-complex
    &-group
      padding: 16px
      border: 2px solid $colorSecondary
      border-radius: 4px
    &-title
      font-size: 14px
      font-weight: 700
      color: $colorSecondary

  &-similar
    &-title
      @extend %f-28-600
