.basket
  &-complex
    &-group
      padding: 16px
      border: 2px solid $colorSecondary
      border-radius: 4px
    &-title
      @extend %f-14-700-sec

  &-similar
    &-title
      @extend %f-28-600

  &-confirm
    &-price
      @extend %f-28-700
      span
        font-size: 16px
      &-title
        @extend %f-18-700

    .btn-ct-secondary-out,
    .btn-ct-primary-fill
      width: 100%
