.personal-data-social.mt-3.pb-3
  .personal-data-social-title.mb-2 Социальные сети
  .row.g-2 
    .col-6
      .personal-data-social-item.p-2.border
        .row.align-items-center.gx-2
          .col-auto.logo
            +svgColor('fb')
          .col.d-flex.flex-column
            .row.align-items-center.justify-content-between 
              .col-auto
                span Facebook
            button.align-self-start Связать с аккаунтом
    .col-6
      .personal-data-social-item.p-2.border
        .row.align-items-center.gx-2
          .col-auto.logo
            +svgColor('google')
          .col.d-flex.flex-column
            .row.align-items-center.justify-content-between 
              .col-auto
                span Google
            button.align-self-start Связать с аккаунтом
    .col-6
      .personal-data-social-item.p-2.border
        .row.align-items-center.gx-2
          .col-auto.logo
            +svgColor('fb')
          .col.d-flex.flex-column
            .row.align-items-center.justify-content-between 
              .col-auto
                span Facebook
              .col-auto.check
                +svgMono('check')
            button.align-self-start Отменить связь
    .col-6
      .personal-data-social-item.p-2.border
        .row.align-items-center.gx-2
          .col-auto.logo
            +svgColor('google')
          .col.d-flex.flex-column
            .row.align-items-center.justify-content-between 
              .col-auto
                span Google
              .col-auto.check
                +svgMono('check')
            button.align-self-start Отменить связь
