.personal-data 
  .personal-data-title.mb-4 Личные данные
  .row
    .col-lg-6
      .row 
        .col-sm-3.mb-5.mb-sm-0
          .personal-data-avatar
            .personal-data-avatar-image.default.mx-auto.mb-2
              span И
            button Загрузить фото
          .personal-data-avatar 
            .personal-data-avatar-image.mx-auto.mb-2
              img(src="../img/avatar.jpg", alt="")
            button Изменить фото
        .col-sm-9 
          .personal-data-content.pb-3
            .row.aling-items-start.gx-2.mb-2
              .col-4.col-sm-6
                .personal-data-content-title ФИО
              .col 
                .personal-data-content-text Иванов Иван Иванович
              .col-auto 
                button(data-micromodal-trigger="change-username-modal") 
                  +svgMono('pencil')
            .row.aling-items-start.gx-2.mb-2
              .col-4.col-sm-6
                .personal-data-content-title ФИО
              .col
                button(data-micromodal-trigger="add-username-modal") Добавить
            .row.aling-items-start.gx-2.mb-2 
              .col-4.col-sm-6
                .personal-data-content-title Телефон
              .col
                .personal-data-content-text +38 067 009 90 09
              .col-auto 
                button(data-micromodal-trigger="change-tel-modal")
                  +svgMono('pencil')
            .row.aling-items-start.gx-2.mb-2
              .col-4.col-sm-6
                .personal-data-content-title Телефон
              .col 
                button(data-micromodal-trigger="add-tel-modal") Добавить
            .row.aling-items-start.gx-2.mb-2 
              .col-4.col-sm-6
                .personal-data-content-title Email
              .col
                .personal-data-content-text ivanov@gmail.com
              .col-auto 
                button(data-micromodal-trigger="change-email-modal") 
                  +svgMono('pencil')
            .row.aling-items-start.gx-2.mb-2
              .col-4.col-sm-6
                .personal-data-content-title Email
              .col 
                button(data-micromodal-trigger="add-email-modal") Добавить
            .row.aling-items-start.gx-2.mb-2 
              .col-4.col-sm-6
                .personal-data-content-title Основной способ доставки
              .col
                .personal-data-content-text Доставка Новой почтой
                .personal-data-content-text Самовывоз из отделения
                .personal-data-content-text Отделение № 70
                .personal-data-content-text ул. Сафонова, 45
              .col-auto 
                button(data-micromodal-trigger="change-delivery-modal")
                  +svgMono('pencil')
            .row.aling-items-start.gx-2
              .col-4.col-sm-6
                .personal-data-content-title Основной способ доставки
              .col 
                button(data-micromodal-trigger="change-delivery-modal") Добавить
          include _personal-data-social
          include _personal-data-subscribe
          .personal-data-controls.mt-3
            button(data-micromodal-trigger="change-pass-modal").mb-2 Изменить пароль
            button Выход