.filter
  &-dismiss
    padding: 8px 15px
    display: flex
    align-items: center
    gap: 10px
    font-size: 12px
    font-weight: 500
    color: $colorDarkGrey
    border-radius: 20px
    border: 1px solid $colorGS10
    .ico
      stroke: $colorSecondary
    &:hover
      background-color: $colorSoft
      border-color: $colorSoft
    &-all
      font-size: 12px
      font-weight: 500
      color: $colorSecondary

  .ct-accordion
    margin-bottom: 26px
    &-title
      font-weight: 600
      color: $colorDarkGrey
    &-content
      .js-show-more
        margin-left: auto
        display: block
        width: fit-content
        font-size: 12px
        font-weight: 700
        color: $colorSecondary
