.filter
  position: relative
  border-radius: 4px

  &-dismiss
    padding: 8px 15px
    display: flex
    align-items: center
    gap: 10px
    @extend %f-12-500
    border-radius: 20px
    border: 1px solid $colorGS10
    .ico
      stroke: $colorSecondary
    &:hover
      background-color: $colorSoft
      border-color: $colorSoft
    &-all
      @extend %f-12-500-sec

  &-controls
    position: sticky
    bottom: 0
    left: 0
    width: 100%

  &-price
    &-title
      @extend %f-18-600

  .ct-accordion
    margin-bottom: 26px
    &-title
      @extend %f-18-600
    &-content
      .js-show-more
        margin-left: auto
        display: block
        width: fit-content
        @extend %f-12-700-sec
  .btn-ct-secondary-fill,
  .btn-ct-secondary-out
    width: 100%
    height: 100%
