-
  var gamerProducts = [
    {
      class: 'col-2',
      img: '../img/game/game1.png',
      text: 'Клавиатуры'
    },
    {
      class: 'col-2',
      img: '../img/game/game2.png',
      text: 'Мыши'
    },
    {
      class: 'col-2',
      img: '../img/game/game3.png',
      text: 'Аксессуары'
    },
    {
      class: 'col-2',
      img: '../img/game/game4.png',
      text: 'Игровые ноутбуки'
    },
    {
      class: 'col-2',
      img: '../img/game/game5.png',
      text: 'Видеокарты'
    },
    {
      class: 'col-2',
      img: '../img/game/game6.png',
      text: 'Мониторы'
    },
  ]

section.game-zone 
  .container 
    .row.align-items-center.mb-4
      .col-1 
        hr
      .col-2
        .game-zone-title GAME ZONE
      .col-9 
        hr
    .row.g-3 
      each item in products 
        include _product-card
    a(href="#").show-more.ms-auto.my-4
      span Смотреть все товары
      +svgMono('arrow-right')
    h3.mb-4 Категории для геймеров
    .row.g-3
      each item in gamerProducts 
        include _game-card