.game-zone
  padding: 40px 0
  background-image: url(../img/game-zone-bg.jpg)

  .product-card
    background-color: $colorWhite
    &:hover
      .product-card-short-information
        display: none

  h3
    color: $colorWhite
