-
  var gamerProducts = [
    {
      class: 'col-6 col-md-4 col-xl-2',
      img: '../img/game/game1.png',
      text: 'Клавиатуры'
    },
    {
      class: 'col-6 col-md-4 col-xl-2',
      img: '../img/game/game2.png',
      text: 'Мыши'
    },
    {
      class: 'col-6 col-md-4 col-xl-2',
      img: '../img/game/game3.png',
      text: 'Аксессуары'
    },
    {
      class: 'col-6 col-md-4 col-xl-2',
      img: '../img/game/game4.png',
      text: 'Игровые ноутбуки'
    },
    {
      class: 'col-6 col-md-4 col-xl-2',
      img: '../img/game/game5.png',
      text: 'Видеокарты'
    },
    {
      class: 'col-6 col-md-4 col-xl-2',
      img: '../img/game/game6.png',
      text: 'Мониторы'
    },
  ]

section.game-zone 
  .container 
    .row.align-items-center.mb-4
      .col-2.col-sm-1.col-md-1.col-xxl-1
        hr
      .col-8.col-sm-5.col-md-4.col-xxl-2
        .game-zone-title GAME ZONE
      .col-2.col-sm-6.col-md-7.col-xxl-9
        hr
    .product-sales-group
      .product-sales-list.row.g-3 
        each item in products 
          include _product-card
      .product-sales-controls.row.justify-content-between.my-4.px-3
        .col-auto
          a(href="#").show-more.toggle
            span Еще товары
            span Скрыть
            +svgMono('arrow-right')
        .col-auto
          a(href="#").show-more.category
            span Смотреть все
            +svgMono('arrow-right')
    h3.mb-4 Категории для геймеров
    .product-sales-group
      .product-sales-list.row.g-3
        each item in gamerProducts 
          include _game-card
      .product-sales-controls.row.justify-content-between.my-4.px-3
        .col-auto
          a(href="#").show-more.toggle
            span Еще товары
            span Скрыть
            +svgMono('arrow-right')
        .col-auto
          a(href="#").show-more.category
            span Смотреть все
            +svgMono('arrow-right')
