-
  var items = [
    {
      class: 'col-2',
      img: '../img/prod/prod-img1.jpg',
      name: 'Монитор 23.8" Acer K240YB, Black (UM.QE0EE.B01)',
      rating: null,
      review: 0,
      price: '3500',
      salePrice: null,
      newCome: true
    },
    {
      class: 'col-2',
      img: '../img/prod/prod-img2.jpg',
      name: 'Монитор 23.8" Acer K240YB, Black (UM.QE0EE.B01)',
      rating: 4,
      review: 4,
      price: '3600',
      salePrice: '3500',
      newCome: false
    },
    {
      class: 'col-2',
      img: '../img/prod/prod-img3.jpg',
      name: 'Монитор 23.8" Acer K240YB, Black (UM.QE0EE.B01)',
      rating: 4,
      review: 4,
      price: '3600',
      salePrice: '3500',
      newCome: false
    },
    {
      class: 'col-2',
      img: '../img/prod/prod-img4.jpg',
      name: 'Монитор 23.8" Acer K240YB, Black (UM.QE0EE.B01)',
      rating: 4,
      review: 4,
      price: '3600',
      salePrice: '3500',
      newCome: false
    },
    {
      class: 'col-2',
      img: '../img/prod/prod-img5.jpg',
      name: 'Монитор 23.8" Acer K240YB, Black (UM.QE0EE.B01)',
      rating: 4,
      review: 4,
      price: '3600',
      salePrice: '3500',
      newCome: false
    },
    {
      class: 'col-2',
      img: '../img/prod/prod-img6.jpg',
      name: 'Монитор 23.8" Acer K240YB, Black (UM.QE0EE.B01)',
      rating: 4,
      review: 4,
      price: '3600',
      salePrice: '3500',
      newCome: false
    }
  ]

section.product-sales 
  .container 
    h3.mb-4 Топ продаж
    .row.g-3
      each item in items 
        include _product-card
      .col-12
        a(href="#").ms-auto
          span Смотреть все товары
          +svgMono('arrow-right')
      each item in items 
        include _product-card
      .col-12
        a(href="#").ms-auto
          span Смотреть все товары
          +svgMono('arrow-right')
