-
  var searchItems = [
    {
      img: '../img/search/search1.jpg',
      text: 'Корпус 2E Gaming Spargo GX910, Black (2E-GX910)'
    },
    {
      img: '../img/search/search2.jpg',
      text: 'Корпус 2E Gaming Spargo GX910, Black (2E-GX910)'
    },
    {
      img: '../img/search/search3.jpg',
      text: 'Корпус 2E Gaming Spargo GX910, Black (2E-GX910)'
    },
    {
      img: '../img/search/search4.jpg',
      text: 'Корпус 2E Gaming Spargo GX910, Black (2E-GX910)'
    },
    {
      img: '../img/search/search5.jpg',
      text: 'Корпус 2E Gaming Spargo GX910, Black (2E-GX910)'
    },
    {
      img: '../img/search/search6.jpg',
      text: 'Корпус 2E Gaming Spargo GX910, Black (2E-GX910)'
    }
  ]

  var results = [
    {
      svg: 'menu1',
      text: 'Комплектующие ПК',
      notice: 'NEW',
      inner: [
        {
          text: 'Процессоры',
          notice: 'NEW'
        },
        {
          text: 'SSD накопители',
          notice: 'NEW'
        },
        {
          text: 'Видеокарты',
          notice: 'NEW'
        },
        {
          text: 'Смотреть все',
        }
      ]
    },
    {
      svg: 'menu2',
      text: 'Мониторы',
      notice: 'NEW'
    },
  ]

.search-block 
  .input-group 
    input(type="text" placeholder="Поиск").ct-input
    button.btn-ct-secondary-fill
      +svgMono('search')
  .search-block-content
    .search-block-links.mb-4
      a(href="#").search-block-link Корпус 
        span для телефона
      a(href="#").search-block-link Корпус 
        span для ноутбука
      a(href="#").search-block-link Корпус 
        span системного блока
    .search-block-categories
      .search-block-categories-title
        +svgMono('btn-icon')
        span Категории
      .search-blokc-categories-list
        each item in results 
          .ct-accordion
            button.ct-accordion-title
              +svgMono(item.svg)
              span=item.text
                .notice=item.notice
            .ct-accordion-content 
              if (item.inner)
                each el in item.inner 
                  a(href="#").py-3.border-bottom
                    span(style="margin-left: 40px")=el.text
                      .notice=el.notice
                    +svgMono('arrow-right')
    .search-block-content-offer.row.g-2.mt-3
      each item in searchItems
        include ../product/_search-card
