include ../utilities/_mixins
doctype html
html(lang="en")
  head
    include _head

  body
    block header
      include ../../components/header/_header
      
    .page(class=outClass)
      .page__content
        block content

    block footer
      include ../../components/footer/_footer

    block modals
      include ../../components/modals/_personal-cabinet
      include ../../components/modals/_basket
      include ../../components/modals/_contacts
      include ../../components/modals/_search-modal
      include ../../components/modals/_filter
      if (outClass == 'product-page-layout')
        include ../../components/modals/_inform-arrive
        include ../../components/modals/_post-review
        include ../../components/modals/_credit-info
        include ../../components/modals/_gallery

    block scripts
      include _scripts
