include ../utilities/_mixins
doctype html
html(lang="en")
  head
    include _head

  body
    // place where pjax bindings happen's
    block header
      include ../../components/header/_header

    // what should be changed with every pjax
    .page(class=outClass)
      .page__content
        block content

    block footer
      include ../../components/footer/_footer

    block modals
      include ../../components/modals/_personal-cabinet
      include ../../components/modals/_basket
      include ../../components/modals/_contacts
      include ../../components/modals/_search-modal

    block scripts
      include _scripts
