include ../utilities/_mixins
doctype html
html(lang="en")
  head
    include _head

  body
    block header
      include ../../components/header/_header
      
    .page(class=outClass)
      .page__content
        block content

    block footer
      include ../../components/footer/_footer

    block modals
      include ../../components/modals/_personal-cabinet
      include ../../components/modals/_basket
      include ../../components/modals/_contacts
      include ../../components/modals/_search-modal
      include ../../components/modals/_filter
      if (outClass == 'product-page-layout')
        include ../../components/modals/_inform-arrive
        include ../../components/modals/_post-review
        include ../../components/modals/_credit-info
        include ../../components/modals/_gallery
      if (outClass == 'account-page') 
        include ../../components/modals/_add-username
        include ../../components/modals/_change-username
        include ../../components/modals/_add-email
        include ../../components/modals/_change-email
        include ../../components/modals/_change-email-complete
        include ../../components/modals/_change-email-fail
        include ../../components/modals/_add-tel
        include ../../components/modals/_change-tel
        include ../../components/modals/_change-tel-complete
        include ../../components/modals/_change-pass
        include ../../components/modals/_change-pass-complete
        include ../../components/modals/_change-pass-fail
        include ../../components/modals/_reset-pass
        include ../../components/modals/_change-delivery
        include ../../components/modals/_add-review
        include ../../components/modals/_add-return
        include ../../components/modals/_send-wishlist

    block scripts
      include _scripts
