.header
  position: relative

  &-checkout
    @extend .py-4
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06)

    .phone
      @extend %f-18-700-dark
      &-mobile
        .ico
          font-size: 25px
          fill: none
          stroke: $colorDark

  &-up
    position: relative
    z-index: 3
    background-color: $colorDark
    a
      display: block
      @extend %f-10-700-soft
      text-transform: uppercase

  &-functions
    position: relative
    z-index: 3
    background-color: $colorWhite

  &-nav
    display: flex
    gap: 25px
    a
      &:hover
        text-decoration: underline

  &-cabinet
    .ico
      font-size: 24px
      fill: none
      stroke: $colorSoft

  &-mail
    background-color: $colorDark
    .ico
      font-size: 24px
      color: $colorWhite

  .btn-ct-primary-fill
    padding: 7px 6px
    .ico
      size: 24px

  .company-logo
    display: block
    transform: translateY(-4px)

  .phone
    @extend %f-18-700-dark
    &-mobile
      .ico
        font-size: 25px
        fill: none
        stroke: $colorWhite

  .search-button-mobile
    .ico
      font-size: 32px
      fill: $colorWhite

  .btn-group
    gap: 10px
    .btn-ct-secondary
      padding: 10px

  .border-start.border-2
    border-color: $colorDark !important

  .account-tabs-nav
    &-link
      @extend .p-0
      @extend .py-2
      display: flex
      border-bottom: none
      gap: 15px
      .ico
        stroke: $colorWhite
      span
        color: $colorWhite
      &.active
        background-color: transparent
