// HEADER :: START
header.header
  .header-up
    .container
      .row.justify-content-between.py-2
        .col-auto
          .row.align-items-center
            .col-auto
              button.btn-hamburger.usermenu-btn
                +svgMono('hamburger')
            .col-auto
              nav.header-nav
                a(href="#") Акции
                a(href="#") Кредит
                a(href="#") Оплата и доставка
                a(href="#") Помощь
                a(href="#") Скупка Б/У
                a(href="#") Контакты
        .col-auto
          .row.align-items-center
            .col-auto
              .lang-toggle 
                a(href="#") RU
                .divider /
                a(href="#").active UA
            .col-auto 
              button.header-cabinet(data-micromodal-trigger="personal-cabinet-modal")
                +svgMono('person')
  .header-functions.shadow.py-4
    .container
      .row.justify-content-betweeen.align-items-center
        .col-3 
          .row.align-items-center
            .col-6
              a(href="#").company-logo
                +svgColor('logo')
            .col-6
              button.btn-ct-primary-fill.catalog-btn
                span КАТАЛОГ ТОВАРОВ
                +svgMono('btn-icon')
        .col 
          include ../blocks/_search
          //- .input-group 
          //-   input(type="text" placeholder="Поиск").ct-input
          //-   button.btn-ct-secondary-out
          //-     +svgMono('search')
        .col-3 
          .row.align-items-center
            .col-6
              include ../blocks/_callback
            .col-6.border-start.border-2
              .row.justify-content-between
                .col-auto
                  a(href="#").btn-control
                    +svgMono('scales')
                    .counter 22
                .col-auto
                  a(href="#").btn-control
                    +svgMono('heart')
                    .counter 22
                .col-auto
                  a(href="#").btn-control.cart
                    +svgMono('basket')
                    .counter 22
  include _megamenu
  include _user-menu