.header
  position: relative

  &-up
    position: relative
    z-index: 3
    background-color: $colorDark
    &.blur

    a
      display: block
      font-size: 10px
      font-weight: 700
      color: $colorSoft
      text-transform: uppercase

  &-functions
    position: relative
    z-index: 3
    background-color: $colorWhite

  &-nav
    display: flex
    gap: 25px

  &-cabinet
    .ico
      font-size: 24px
      fill: none
      stroke: $colorSoft

  .btn-ct-primary-fill
    padding: 10px 8px

  .phone
    font-size: 18px
    font-weight: 700
    color: $colorDark
    &-mobile
      .ico
        font-size: 25px
        fill: none
        stroke: $colorWhite

  .search-button-mobile
    .ico
      font-size: 32px
      fill: none
      stroke: $colorWhite

  .btn-group
    gap: 10px
    .btn-ct-secondary
      padding: 10px

  .border-start.border-2
    border-color: $colorDark !important
