header.header-checkout 
  .container 
    .row.align-items-center.justify-content-between
      .col-auto
        a(href="#").company-logo
          +svgColor('logo')
      .col-auto.d-none.d-sm-block
        include ../blocks/_callback
      .col-auto.d-sm-none
        button.phone-mobile(data-micromodal-trigger="contacts-modal")
            +svgMono('phone')