// HEADER :: START
header.header
  .header-up
    .container
      .row.align-items-center.justify-content-between.py-2.g-3.g-sm-0
        .col-auto
          .row.align-items-center
            .col-auto
              button.btn-hamburger.usermenu-btn
                +svgMono('hamburger')
            .col-auto.d-none.d-md-block
              nav.header-nav
                a(href="#") Акции
                a(href="#") Кредит
                a(href="#") Оплата и доставка
                a(href="#") Помощь
                a(href="#") Скупка Б/У
                a(href="#") Контакты
        .col-auto.d-sm-none 
          a(href="#").company-logo-mobile
            +svgMono('logo-mono')
        .col-auto.d-sm-none 
          button.phone-mobile(data-micromodal-trigger="contacts-modal")
            +svgMono('phone')
        .col-auto.d-none.d-sm-block 
          .row.align-items-center
            .col-auto
              .lang-toggle 
                a(href="#") RU
                .divider /
                a(href="#").active UA
            .col-auto
              button.header-cabinet(data-micromodal-trigger="enter-account-modal")
                +svgMono('person')
        .w-100.p-0.m-0
        .col-auto.d-sm-none
          button.btn-ct-primary-fill.catalog-btn
            span КАТАЛОГ ТОВАРОВ
            +svgMono('btn-icon')
        .col-auto.d-sm-none 
          button.search-button-mobile(data-micromodal-trigger="search-modal")
            +svgMono('search')
        .col-auto.d-sm-none 
          button.btn-control.cart.mobile(data-micromodal-trigger="basket-modal")
            +svgMono('basket')
            .counter 22
  .header-functions.shadow.py-4.d-none.d-sm-block
    .container
      .row.justify-content-betweeen.align-items-center.gx-2
        .col-xxl-3.col-xl-4.col-lg-5.col-sm-6
          .row.align-items-center.g-3.g-xxl-0.gx-xxl-2
            .col-auto
              a(href="#").company-logo
                +svgColor('logo')
            .col-auto
              button.btn-ct-primary-fill.catalog-btn
                span КАТАЛОГ ТОВАРОВ
                +svgMono('btn-icon')
        .col.order-sm-3.mt-sm-3.mt-xl-0.order-xl-2
          include ../blocks/_search
        .col-xxl-3.col-xl-3.offset-xl-0.order-xl-3.col-lg-5.offset-lg-2.order-sm-2.col-sm-6
          .row.align-items-center.justify-content-sm-end.gx-0
            .col-auto.mb-3.mb-md-0
              include ../blocks/_callback
            .col-auto
              .row.justify-content-sm-end.gx-0.px-2
                .col-auto
                  include ../compare/_compare-dropdown
                .col-auto
                  a(href="#").btn-control
                    +svgMono('heart')
                    .counter 22
                .col-auto
                  button.btn-control.cart(data-micromodal-trigger="basket-modal")
                    +svgMono('basket')
                    .counter 22
  include _megamenu
  include _user-menu