.megamenu
  .container
    .row
      .col-3
        include ../banner/_banner-menu
      .col-9
        .row.py-3
          .col-3
            a(href="#").megamenu-category-title Lorem ipsum dolor
            a(href="#").megamenu-link Материнские платы
            a(href="#").megamenu-link Процессоры
            a(href="#").megamenu-link Видеокарты
            a(href="#").megamenu-link Оперативная память
            a(href="#").megamenu-link SSD накопители
            a(href="#").megamenu-link Процессоры
            a(href="#").megamenu-link Видеокарты
            a(href="#").megamenu-link Оперативная память
            a(href="#").megamenu-link SSD накопители
            
            a(href="#").megamenu-category-title Lorem ipsum dolor
            a(href="#").megamenu-link Процессоры
            a(href="#").megamenu-link Оперативная память
            a(href="#").megamenu-link SSD накопители

            a(href="#").megamenu-category-title Lorem ipsum dolor
            a(href="#").megamenu-link Материнские платы
            a(href="#").megamenu-link Процессоры
            a(href="#").megamenu-link Видеокарты
            a(href="#").megamenu-link Оперативная память

          .col-3
            a(href="#").megamenu-category-title Lorem ipsum dolor
            a(href="#").megamenu-link Процессоры
            a(href="#").megamenu-link SSD накопители
            a(href="#").megamenu-link Видеокарты
            a(href="#").megamenu-link SSD накопители

            a(href="#").megamenu-category-title Lorem ipsum dolor
            a(href="#").megamenu-link Процессоры
            a(href="#").megamenu-link SSD накопители

            a(href="#").megamenu-category-title Lorem ipsum dolor
            a(href="#").megamenu-link Материнские платы
            a(href="#").megamenu-link Процессоры
            a(href="#").megamenu-link Видеокарты
            a(href="#").megamenu-link Оперативная память
            a(href="#").megamenu-link SSD накопители
            a(href="#").megamenu-link Видеокарты
            a(href="#").megamenu-link Оперативная память

          .col-3
            a(href="#").megamenu-category-title Lorem ipsum dolor
            a(href="#").megamenu-link Материнские платы
            a(href="#").megamenu-link Видеокарты
            a(href="#").megamenu-link Оперативная память
            a(href="#").megamenu-link Процессоры
            a(href="#").megamenu-link Оперативная память
            a(href="#").megamenu-link SSD накопители

            a(href="#").megamenu-category-title Lorem ipsum dolor
            a(href="#").megamenu-link Видеокарты
            a(href="#").megamenu-link Оперативная память
            a(href="#").megamenu-link SSD накопители
            a(href="#").megamenu-link Материнские платы
            a(href="#").megamenu-link Процессоры
            a(href="#").megamenu-link Оперативная память
            a(href="#").megamenu-link SSD накопители

            a(href="#").megamenu-category-title Lorem ipsum dolor
            a(href="#").megamenu-link Процессоры
            a(href="#").megamenu-link Видеокарты

          .col-3
            a(href="#").megamenu-category-title Lorem ipsum dolor
            a(href="#").megamenu-link Материнские платы
            a(href="#").megamenu-link Процессоры

            a(href="#").megamenu-category-title Lorem ipsum dolor
            a(href="#").megamenu-link Видеокарты
            a(href="#").megamenu-link Оперативная память
            a(href="#").megamenu-link SSD накопители
            a(href="#").megamenu-link Материнские платы
            a(href="#").megamenu-link Процессоры
            a(href="#").megamenu-link Оперативная память
            a(href="#").megamenu-link SSD накопители

            a(href="#").megamenu-category-title Lorem ipsum dolor
            a(href="#").megamenu-category-title Lorem ipsum dolor
            a(href="#").megamenu-category-title Lorem ipsum dolor