.megamenu
  position: absolute
  top: 100%
  left: 0
  right: 0
  height: 100vh
  padding-top: 10px
  transform: translateY(-100%)
  transition: 0.25s all
  overflow-y: auto

  &.open
    z-index: 2
    transform: translateY(0)

  &-category-title
    display: block
    margin-bottom: 15px
    font-size: 16px
    font-weight: 700
    color: $colorSecondary
    & + .megamenu-category-title
      margin-top: 25px

  &-link
    margin-bottom: 5px
    display: block
    font-size: 14px
    font-weight: 500
    color: $colorGS60
    & + .megamenu-category-title
      margin-top: 25px

  .container
    background-color: $colorWhite

  .ct-accordion
    &.open
      .ct-accordion-title
        &::after
          transform: rotate(90deg)

    &-title
      display: flex
      align-items: center
      gap: 10px
      font-size: 16px
      font-weight: 700
      color: $colorDark
      margin-bottom: 0
      .ico, i
        size: 24px
      .ico
        fill: none
        stroke: $colorDark
      span
        position: relative
      .notice
        position: absolute
        top: 0
        left: calc(100% + 5px)
        font-size: 10px
        font-weight: 700
        color: #f44336
      &::after
        position: relative
        content: ''
        margin-left: auto
        size: 8px 14px
        background-size: cover
        background-image: svg-load('../icons/svg-inline/arrow-next.svg', fill=none, stroke=$colorDark)

    &-content
      a
        display: flex
        justify-content: space-between
        align-items: center
        font-size: 14px
        font-weight: 500
        color: $colorDarkGrey
        span
          position: relative
        .notice
          position: absolute
          top: 0
          left: calc(100% + 5px)
          font-size: 10px
          font-weight: 700
          color: #f44336
        .ico
          fill: none
          stroke: $colorDarkGrey

+r($md)
  .megamenu
    padding-top: 0
    top: 0
    &.open
      z-index: 3
      transform: translateY(15px)
