.usermenu 
  .usermenu-header.row.align-items-center.mb-5
    .col-auto 
      a(href="#").company-logo
        +svgMono('logo-mono')
    .col-auto 
      button.usermenu-close 
        +svgMono('close')
  .usermenu-content
    .row.g-2.mb-3
      .col-auto.border-end
        button Вход
      .col-auto
        button Регистрация
    .ct-accordion 
      button.ct-accordion-title Информация
      .ct-accordion-content 
        nav 
          a(href="#") Акции
          a(href="#") Кредит
          a(href="#") Оплата и доставка
          a(href="#") Гарантия
          a(href="#") Частые вопросы
          a(href="#") Новости
          a(href="#") Блог
          a(href="#") О нас
          a(href="#") Политика конфиденциальности
          a(href="#") Контакты

      
