.order-contacts.mb-4
  .order-contacts-title.mb-3 Ваши контактные данные
  .row.g-3
    .col-sm-6
      input(type="text" placeholder="Имя").ct-input
    .col-sm-6 
      input(type="text" placeholder="Фамилия").ct-input
    .col-sm-6 
      input(type="email" placeholder="Email").ct-input
    .col-sm-6 
      input(type="tel" placeholder="Номер телефона").ct-input