.order-summary.p-3.shadow.position-sticky.mb-3.mb-lg-0
  .order-summary-title.mb-4 Итого 
  .row.justify-content-between.mb-3
    .col-auto
      .order-summary-text 2 товара на сумму
    .col-auto
      .order-summary-text.price 7 200 
        span грн.
  .row.justify-content-between.mb-3
    .col-auto 
      .order-summary-text Стоимость доставки
    .col-auto 
      .order-summary-text Бесплатно
  hr.mb-3
  .row.align-items-center.justify-content-between.mb-lg-3
    .col-auto
      .order-summary-text Итого к оплате
    .col-auto
      .order-summary-final 7 200
        span грн.
  button.btn-ct-primary-fill.w-100.mb-3.d-none.d-lg-block ПОДТВЕРДИТЬ ЗАКАЗ
  .order-summary-text.d-none.d-lg-block Подтверждая заказ, я принимаю условия 
    a(href="#") пользовательского соглашения


