.order-client
  input(type="checkbox" id="order-client")
  label(for="order-client") Получатель не я
  .order-client-content.mt-4
    .order-client-content-title.mb-4 Контактные данные получателя
    .row.g-3
      .col-sm-6
        input(type="text" placeholder="Имя").ct-input
      .col-sm-6
        input(type="text" placeholder="Фамилия").ct-input
      .col-sm-6
        input(type="text" placeholder="Отчество").ct-input
      .col-sm-6
        input(type="tel" placeholder="Номер телефона").ct-input
