footer.footer-mail
  .footer-mail-top.py-3.border-bottom
    .container  
      .row.justify-content-between
        .col-12.col-sm-auto
          a(href="#").phone-small (067) 11-12-485 - Отдел продаж
          a(href="#").phone-small (066) 484-39-22 - Отдел продаж
          a(href="#").phone-small 
            span (063) 747-33-48 - Отдел продаж
            +svgMono('viber')
            +svgMono('teleg')
        .col-12.col-sm-auto.text-sm-end
          p.description-small Днепр
            span Европейская, 8 (бывшая Миронова 8)
          p.description-small Понедельник-Пятница 9:00-19:00
          p.description-small Суббота-Воскресенье: с 9:00-16:00
          .row.g-2.justify-content-sm-end
            .col-auto
              a(href="#").btn-soc
                +svgMono('instag')
            .col-auto
              a(href="#").btn-soc
                +svgMono('fb')
            .col-auto
              a(href="#").btn-soc
                +svgMono('viber')
            .col-auto
              a(href="#").btn-soc
                +svgMono('teleg')
            .col-auto
              a(href="#").btn-soc
                +svgMono('yt')
            .col-auto
              a(href="#").btn-soc
                +svgMono('linked')
  .footer-mail-mid.py-2
    .container
      .description-small 2008-2021 Интернет-магазин v-comp.com.ua Все права защищены
  .footer-mail-bottom.py-2
    .text-center
      .footer-mail-bottom-text Этот имел был прислан ivanov@gmail.com.
        br
        | Вы получили это письмо потому сделали запрос на подтверждение электронной почты на сайте v-comp.com.ua. 