// FOOTER
.footer
  padding: 30px 0
  background-color: $colorDark

  &-column
    &-title
      @extend .mb-3
      @extend %f-18-600-gray

  &-copyright
    font-size: 12px
    color: #d9d9d9

  &-bottom
    .ico
      font-size: 20px

  .company-logo
    .ico
      font-size: 42px
      color: $colorWhite

  .container
    max-width: 1270px

  nav
    a
      display: block
      @extend .mb-2
      @extend %f-12-500-gray

  p
    

  button[type="submit"]
    padding: 7px 12px
    border: 1px solid #cccccc
    border-left: none
    border-radius: 4px
    background-color: $colorWhite
    .ico
      font-size: 25px
      fill: none
      stroke: $colorSecondary
