-
  var similar = [
    {
      class: 'col-6 col-md-4 col-xl-2',
      img: '../img/prod/prod-img1.jpg',
      name: 'Монитор 23.8" Acer K240YB, Black (UM.QE0EE.B01)',
      rating: null,
      review: 0,
      price: '3500',
      salePrice: null,
      newCome: true
    },
    {
      class: 'col-6 col-md-4 col-xl-2',
      img: '../img/prod/prod-img2.jpg',
      name: 'Монитор 23.8" Acer K240YB, Black (UM.QE0EE.B01)',
      rating: 4,
      review: 4,
      price: '3600',
      salePrice: '3500',
      newCome: false
    },
    {
      class: 'col-6 col-md-4 col-xl-2',
      img: '../img/prod/prod-img3.jpg',
      name: 'Монитор 23.8" Acer K240YB, Black (UM.QE0EE.B01)',
      rating: 4,
      review: 4,
      price: '3600',
      salePrice: '3500',
      newCome: false
    },
    {
      class: 'col-6 col-md-4 col-xl-2',
      img: '../img/prod/prod-img4.jpg',
      name: 'Монитор 23.8" Acer K240YB, Black (UM.QE0EE.B01)',
      rating: 4,
      review: 4,
      price: '3600',
      salePrice: '3500',
      newCome: false
    },
    {
      class: 'col-6 col-md-4 col-xl-2',
      img: '../img/prod/prod-img5.jpg',
      name: 'Монитор 23.8" Acer K240YB, Black (UM.QE0EE.B01)',
      rating: 4,
      review: 4,
      price: '3600',
      salePrice: '3500',
      newCome: false
    },
    {
      class: 'col-6 col-md-4 col-xl-2',
      img: '../img/prod/prod-img6.jpg',
      name: 'Монитор 23.8" Acer K240YB, Black (UM.QE0EE.B01)',
      rating: 4,
      review: 4,
      price: '3600',
      salePrice: '3500',
      newCome: false
    }
  ]

section.product-page
  .container 
    .row.align-items-center.justify-content-between
      .col-12.col-md-auto 
        .product-page-title Ноутбук Vinga Iron S140 Grey (S140-P50464GWP)
      .col-auto.order-md-3
        .product-page-vcode Код товара: 1234
      .d-none.d-md-block.w-100
      .col-auto.order-md-2
        .product-card-rating.my-2.p-0
          .product-card-stars
            - for (i=1; i<=5; i++)
              if (4 >= i )
                .star.active
                  +svgMono('star')
              else 
                .star
                  +svgMono('star')
          .product-card-reviews Отзывов: 
            span 4
    .product-page-tabs 
      nav.product-page-tabs-nav.mb-4
        a(href="#").product-page-tabs-link Все о товаре
        a(href="#").product-page-tabs-link Характеристики
        a(href="#").product-page-tabs-link Отзывы
        a(href="#").product-page-tabs-link Кредит
      .product-page-tabs-content 
        .product-page-tab 
          .row.align-items-start
            .col.col-lg-6
              include _product-images
              .replaced-items-desctop
                include _product-specs 
                include _product-description
            .col.col-lg-6 
              include _product-gift
              include _product-controls
              include _product-information
              .replaced-items-mobile
              include ../reviews/_product-page-reviews
          include ../basket/_basket-together
          .product-page-similar.mt-5
            .product-page-similar-title.mb-4 Вместе с этим товаром покупают
            .product-sales-group
              .product-sales-list.row.g-3
                each item in similar 
                  include ../product/_product-card
              .product-sales-controls.row.justify-content-between.my-4
                .col-auto
                  a(href="#").show-more.toggle
                    span Еще товары
                    span Скрыть
                    +svgMono('arrow-right')
          include _product-credit
          include _product-mini-fixed
        .product-page-tab
          .row 
            .col-lg-8.order-2.order-lg-1
              include _product-specs-2
            .col-lg-4.mb-md-3.order-1.order-lg-2
              include _product-mini
          .product-page-similar.mt-5
            .product-page-similar-title.mb-4 Похожие товары
            .product-sales-group
              .product-sales-list.row.g-3
                each item in similar 
                  include ../product/_product-card
              .product-sales-controls.row.justify-content-between.my-4
                .col-auto
                  a(href="#").show-more.toggle
                    span Еще товары
                    span Скрыть
                    +svgMono('arrow-right')
        .product-page-tab 
          .row 
            .col-lg-8.order-2.order-lg-1
              .product-reviews-title.mb-4 Отзывы (45)
              .row.align-items-center.justify-content-between.mb-4
                .col-auto.d-none.d-sm-block
                  .product-reviews-subtitle Оставьте свой отзыв о товаре
                .col-sm-auto
                  button.btn-ct-secondary-fill.w-100(data-micromodal-trigger="post-review") ДОБАВИТЬ ОТЗЫВ
              include ../reviews/_product-page-reviews-2
              .row.align-items-center.justify-content-between.mb-4
                .col-auto
                  .product-reviews-subtitle Оставьте свой отзыв о товаре
                .col-auto
                  button.btn-ct-secondary-fill(data-micromodal-trigger="post-review") ДОБАВИТЬ ОТЗЫВ
              .row.justify-content-center 
                .col-auto.my-4 
                  button.btn-posts-more
                    span Показать больше товаров
                    +svgMono('reload')
              .pagination
                a(href="#").pagination-link
                  +svgMono('arrow-left')
                  span Назад
                a(href="#").pagination-link 1
                a(href="#").pagination-link 2
                a(href="#").pagination-link 3
                a(href="#").pagination-link ...
                a(href="#").pagination-link 34
                a(href="#").pagination-link 
                  span Вперед
                  +svgMono('arrow-left')
            .col-lg-4.mb-md-3.order-1.order-lg-2
              include _product-mini
          .product-page-similar.mt-5
            .product-page-similar-title.mb-4 Похожие товары
            .product-sales-group
              .product-sales-list.row.g-3
                each item in similar 
                  include ../product/_product-card
              .product-sales-controls.row.justify-content-between.my-4
                .col-auto
                  a(href="#").show-more.toggle
                    span Еще товары
                    span Скрыть
                    +svgMono('arrow-right')
        .product-page-tab 
          .row 
            .col-lg-8.order-2.order-lg-1
              include _product-credit
            .col-lg-4.mb-md-3.order-1.order-lg-2
              include _product-mini
          .product-page-similar.mt-5
            .product-page-similar-title.mb-4 Похожие товары
            .product-sales-group
              .product-sales-list.row.g-3
                each item in similar 
                  include ../product/_product-card
              .product-sales-controls.row.justify-content-between.my-4
                .col-auto
                  a(href="#").show-more.toggle
                    span Еще товары
                    span Скрыть
                    +svgMono('arrow-right')
