.product-description 
  .product-description-title.mb-4 Описание товара
  .product-description-content 
    p(style="font-size: 14px; font-weight: 700; color: #333333") Металлический корпус
    p(style="font-size: 14px; font-weight: 400; color: #333333") Vinga Iron S140 – качественный и надежный ноутбук, выполненный в металлическом корпусе, что делает его невероятно прочным и очень привлекательным в плане дизайна. Выглядит ноутбук просто потрясающе.
    p(style="font-size: 14px; font-weight: 400; color: #333333") Компактность
    p(style="font-size: 14px; font-weight: 400; color: #333333") Данная модель позиционируется производителем как удобное решение для ежедневной работы или учебы. Это компактный и достаточно производительный нетбук, который удобно брать с собой. Для запуска ресурсоемких приложений и требовательных игр мощности модели будет недостаточно. Но базовым пакетом...
    p(style="font-size: 14px; font-weight: 400; color: #333333") офисных программ, браузером и другим подобным ПО пользоваться будет комфортно.
    p(style="font-size: 14px; font-weight: 700; color: #333333") Комплектующие
    p(style="font-size: 14px; font-weight: 400; color: #333333") Ноутбук Vinga Iron S140 оснащен производительным процессором и качественно графической подсистемой. Такие характеристики обеспечат комфортное выполнения всех базовых пользовательских задач.
    p(style="font-size: 14px; font-weight: 700; color: #333333") Дисплей
    p(style="font-size: 14px; font-weight: 400; color: #333333") Экран ноутбука изготовлен на основе матрицы IPS, что обеспечивает широкие углы обзора и реалистичную передачу цветов. С учетом разрешения) пользователю гарантирована четкая и реалистичная графика. Для хранения информации нетбук оснащен объемным накопителем. Можно установить еще один накопитель SSD-формата M.2 в предназначенный для этого слот.
    p(style="font-size: 14px; font-weight: 700; color: #333333") Аккумулятор
    p(style="font-size: 14px; font-weight: 400; color: #333333") Ноутбук Vinga Iron S140 получил мощную батарею. Емкость аккумулятора составляет 5000 mAh. Этого хватает для 6 часов работы на одном заряде в штатном режиме.
    button.show-more.light
      span Смотреть еще
      i.bi.bi-chevron-down