.product-specifications

  &-title
    @extend %f-28-600

  &-row
    &:nth-child(even)
      background-color: $colorSoft
    span
      font-size: 14px
      font-weight: 400
      color: $colorGS60
