.product-description 
  .product-description-title.mb-4 Описание товара
  .product-description-content 
    p(style="font-size: 14px; font-weight: 700; color: #333333") Металлический корпус
    p(style="font-size: 14px; font-weight: 400; color: #333333") Vinga Iron S140 – качественный и надежный ноутбук, выполненный в металлическом корпусе, что делает его невероятно прочным и очень привлекательным в плане дизайна. Выглядит ноутбук просто потрясающе.
    p(style="font-size: 14px; font-weight: 400; color: #333333") Компактность
    p(style="font-size: 14px; font-weight: 400; color: #333333") Данная модель позиционируется производителем как удобное решение для ежедневной работы или учебы...
    .product-description-show-more
      span Смотреть еще
      i.bi.bi-chevron-down