.product-gift.row.align-items-center.py-3.px-4.gx-3.mb-4
  .col-auto
    .product-gift-image 
      +svgMono('gift')
  .col
    .product-gift-title Подарок!
    .product-gift-text При покупке даного товара вы получаете в подарок:
    .product-gift-item.row.align-items-center.gx-3
      .col-auto 
        img(src="../img/gift.png", alt="")
      .col
        .product-gift-item-name Мышка Frime FM-001BY USB, Black/Yellow (FM-001BY)