.product-controls

  &-availible
    font-size: 14px
    font-weight: 500
    color: $colorPrimary
    background-color: $colorSoft
    &.not
      color: $colorGS40
      .ico
        fill: $colorGS40

  .ico
    font-size: 28px
    fill: none
    stroke: $colorSecondary
