.product-mini
  @extend .p-3
  border-radius: 4px
  box-shadow: 0px 2px 10px rgba(50, 50, 71, 0.28)
  &-image
    size: 70px
    object-fit: contain
  &-name
    @extend %f-18-600
  &-fixed
    background-color: $colorWhite

  .ico
    font-size: 28px
    fill: $colorSecondary
    &.fillnone
      fill: none
      stroke: $colorSecondary

  .btn-ct-primary-fill,
  .btn-ct-primary-out
    width: 100%
