.product-controls

  &-availible
    font-size: 14px
    font-weight: 500
    color: $colorPrimary
    border-radius: 4px
    background-color: $colorSoft
    &.not
      color: $colorGS40
      .ico
        fill: $colorGS40

  .ico
    font-size: 32px
    fill: $colorSecondary
    &.fillnone
      fill: none
      stroke: $colorSecondary

  a
    &:hover
      .ico
        fill: $colorSecondaryHover
