.product-mini-fixed.d-md-none.fixed-bottom.p-3
  .row.align-items-center.justify-content-between
    .col-auto
      .product-card-price-container
        .product-card-price.default 27 900
          span грн.
        .product-card-price.sale 27 300
          span грн.
    .col-auto
      button.btn-ct-primary-fill КУПИТЬ