-
  var items = [
    {
      img: '../img/news/news5.png',
      title: 'Какой дрон купить? Квадрокоптеры для ребенка, взрослого и для воздушного гонщика',
      excerpt: 'Кто из нас не мечтает летать, наблюдая за миром с высоты птичьего полета? А ведь даже такие, казалось бы, фантастические мечты тоже могут сбываться. И,...',
      date: 'Новости, 06.07.2021'
    },
    {
      img: '../img/news/news6.png',
      title: 'Робот-пылесос: на что обращать внимание при выборе? Плюсы и минусы робота-пылесоса',
      excerpt: 'Домашний уют в немалой степени зависит от порядка в доме. Но порядок, в отличие от беспорядка, сам по себе не появляется, его необходимо наводить. Одним...',
      date: 'Новости, 07.07.2021'
    },
    {
      img: '../img/news/news7.png',
      title: 'Темная тема Google Maps для iPhone и iPad уже на подходе!',
      excerpt: 'Весной этого года разрабы развернули темную тему в приложении Google Maps для гаджетов на базе Android, и сейчас эта опция наконец-то станет доступна и пользователям...',
      date: 'Новости, 06.07.2021'
    },
    {
      img: '../img/news/news8.png',
      title: 'Новый городской транспорт – электросамокат. Каковы преимущества и недостатки?',
      excerpt: ' Когда речь заходит о городском транспорте, то каждый из нас может представить в своём воображении абсолютно различные устройства. Кто-то подумает о новом и быстром автомобиле,...',
      date: 'Новости, 06.07.2021'
    }
  ]

section.news-page.mb-2
  .container 
    .row
      .col
        .news-page-title Как выбрать ноутбук 2019 для работы, учёбы, дома
        .news-page-date.mb-3 Новости, 06.07.2021 
        p(style="color: #060f42") В настольных стационарных компьютерах есть своя романтика. Десктопы легко поддаются апгрейдам, они подключаются к мониторам с широкой диагональю, мы сами сможем выбрать подходящую акустику и так далее. Но, не смотря на все эти привилегии и преимущества, наибольшую популярность в сегменте компьютерных технологий приобрели именно ноутбуки. Произошло это, видимо, из-за их мобильности и более свободной транспортировки.
        img(src="../img/news/news13.png", alt="").mb-3
        p(style="color: #060f42") В настольных стационарных компьютерах есть своя романтика. Десктопы легко поддаются апгрейдам, они подключаются к мониторам с широкой диагональю, мы сами сможем выбрать подходящую акустику и так далее. Но, не смотря на все эти привилегии и преимущества, наибольшую популярность в сегменте компьютерных технологий приобрели именно ноутбуки. Произошло это, видимо, из-за их мобильности и более свободной транспортировки.
        h6(style="font-size: 20px; font-weight: 700; color: #060f42").mb-3 Предназначение ноутбука  
        p(style="color: #060f42") Перед самим походом в магазин электроники за новеньким ноутбуком, мы должны ответить сами себе на простой вопрос: «Зачем нам нужен ноутбук?». Подразумевается, что мы уже осознаём, что он нам нужен, но вот, что мы будем делать с его помощью. Ведь если мы покупаем компьютер лишь для того, чтобы смотреть на нём видео, набирать текст, пользоваться электронными таблицами и серфить в сети Интернет, то дорогостоящая геймерская машина нам не нужна!
        img(src="../img/news/news14.png", alt="").mb-3
        p(style="color: #060f42") Другое дело, если мы будем играть на ноутбуке в самые современные игры или профессионально заниматься редактированием фотографий и видео, то необходимо рассматривать ноутбук совершенно другого класса. На какие же классы можно условно разделить ноутбуки, в зависимости от их предназначения? Это может быть базовая сборка, ноутбук для учёбы, для работы, для игр и так далее.
        h6(style="font-size: 20px; font-weight: 700; color: #060f42").mb-3 Размер ноутбука
        p(style="color: #060f42") Сегодня наиболее распространённым стандартом размеров ноутбука являются устройства с диагональю экрана 15,6ʺ. Стоит чётко понимать, что от размера экрана напрямую будут зависеть габариты ноутбука, но и наоборот – в слишком компактный нетбук уместить экран с широкой диагональю не удастся. Как же понять, насколько большой экран в ноутбуке нам нужен или, наоборот, насколько компактным ноутбук должен быть?
        img(src="../img/news/news15.png", alt="").mb-3
        p(style="color: #060f42") Это решение должно полностью исходить из того, для чего сам ноутбук необходим. Например, если ноутбук понадобится в основном для путешествий и работы в интернете, то наилучшим решением окажется небольшой компактный нетбук с экраном 11-12ʺ. Если же нам нужен ноутбук для игр, то лучше всего выбирать средний ноутбук с диагональю 15,6ʺ, но с соответствующими параметрами производительности и охлаждения. Большой ноутбук с 17-дюймовым экраном может понадобиться, если мы выбираем универсальное устройство для работы, возможно, для обработки графики, фото и редактирования видео.
      .col-auto
        .row.flex-column.g-3.position-sticky.top-0
          .col 
            button.btn-share(style="background-color: #4267b2")
              +svgMono('fb')
          .col
            button.btn-share(style="background-image: linear-gradient(90deg, #2d18ff 0%, #ff177a 50%, #ffcf37 100%)") 
              +svgMono('instag')
          .col
            button.btn-share(style="background-color: #7aa5da")
              +svgMono('teleg')
    
section.read-more 
  .container 
    .read-more-title.mb-4 Читайте также:
    .row 
      each item in items 
        include _news-list-card