-
  var news = [
    {
      img: '../img/news/news5.png',
      title: 'Какой дрон купить? Квадрокоптеры для ребенка, взрослого и для воздушного гонщика',
      excerpt: 'Кто из нас не мечтает летать, наблюдая за миром с высоты птичьего полета? А ведь даже такие, казалось бы, фантастические мечты тоже могут сбываться. И,...',
      date: 'Новости, 06.07.2021'
    },
    {
      img: '../img/news/news6.png',
      title: 'Робот-пылесос: на что обращать внимание при выборе? Плюсы и минусы робота-пылесоса',
      excerpt: 'Домашний уют в немалой степени зависит от порядка в доме. Но порядок, в отличие от беспорядка, сам по себе не появляется, его необходимо наводить. Одним...',
      date: 'Новости, 07.07.2021'
    },
    {
      img: '../img/news/news7.png',
      title: 'Темная тема Google Maps для iPhone и iPad уже на подходе!',
      excerpt: 'Весной этого года разрабы развернули темную тему в приложении Google Maps для гаджетов на базе Android, и сейчас эта опция наконец-то станет доступна и пользователям...',
      date: 'Новости, 06.07.2021'
    },
    {
      img: '../img/news/news8.png',
      title: 'Новый городской транспорт – электросамокат. Каковы преимущества и недостатки?',
      excerpt: ' Когда речь заходит о городском транспорте, то каждый из нас может представить в своём воображении абсолютно различные устройства. Кто-то подумает о новом и быстром автомобиле,...',
      date: 'Новости, 06.07.2021'
    },
    {
      img: '../img/news/news9.png',
      title: 'Помощник на кухне. Лучшие посудомоечные машины',
      excerpt: 'Бытовая рутина может отнимать очень много времени. А между тем, потраченное на домашние хлопоты время вполне можно было бы использовать на решение важных рабочих вопросов,...',
      date: 'Новости, 07.07.2021'
    },
    {
      img: '../img/news/news10.png',
      title: 'Играй, строй и управляй: ТОП-7 градостроительных симуляторов',
      excerpt: 'Градостроительные симуляторы интересны тем, что позволяют почувствовать себя немного президентом, императором и повелителем государств. Они включают в себя механики строительства с нуля и управления административным...',
      date: 'Новости, 06.07.2021'
    },
    {
      img: '../img/news/news11.png',
      title: 'Свежий апдейт для Windows 10 — Microsoft устранила ряд ошибок',
      excerpt: ' Microsoft подготовила пользователям операционной системы Windows 10 свеженькую крупную обнову, которая должна исправить ряд серьезных ошибок и сбоев в работе ОС. Патч обновления с номером KB4598291...',
      date: 'Новости, 06.07.2021 '
    },
    {
      img: '../img/news/news12.png',
      title: 'Презентация новинок Acer от 21 октября 2020 — что показали',
      excerpt: 'На прошедшей 21 октября 2020 года презентации компания Acer показала своим фанатам множество новых гаджетов, в том числе крутой ноут Porsche Design Acer Book RS...',
      date: 'Новости, 06.07.2021'
    }
  ]

section.news-list.pb-5
  .container 
    .news-list-title Новости
    .row.mb-4.g-32
      each item in news
        include _news-list-card
      each item in news
        include _news-list-card
    .row.justify-content-center 
      .col-auto.mb-4
        button.btn-posts-more
          span Показать больше товаров
          +svgMono('reload')
    .pagination
      a(href="#").pagination-link
        +svgMono('arrow-left')
        span Назад
      a(href="#").pagination-link 1
      a(href="#").pagination-link 2
      a(href="#").pagination-link 3
      a(href="#").pagination-link ...
      a(href="#").pagination-link 34
      a(href="#").pagination-link 
        span Вперед
        +svgMono('arrow-left')