.news-card

  &-title
    font-size: 16px
    font-weight: 700
    color: $colorDark
  &-text
    font-size: 14px
    font-weight: 500
    color: $colorDarkGrey
  &-date
    font-size: 10px
    font-weight: 600
    color: $colorGS20

  .show-more
    font-size: 10px
    .ico
      font-size: 10px
