-
  var news = [
    {
      img: '../img/news/news1.jpg',
      title: 'Вакансия! Требуется контент-менеджер',
      text: 'Интернет-магазину V-COMP на постоянную работу, требуется контент-менеджер. Работа удаленно (на дому), не сложная...',
      date: '07.07.2021'
    },
    {
      img: '../img/news/news2.jpg',
      title: 'Бесплатная сборка ПК',
      text: 'Друзья! При покупке всех комплектующих для ПК в нашей компании, сборка ПК бесплатно. Вам не нужно тратить время и рисковать...',
      date: '07.07.2021'
    },
    {
      img: '../img/news/news3.jpg',
      title: 'Бесплатная доставка',
      text: 'Бесплатная доставка по Днепру (курьером) при покупке от 3000 грн. (Подробнее в разделе Оплата и доставка)...',
      date: '07.07.2021'
    },
    {
      img: '../img/news/news4.jpg',
      title: 'Акция! Подготовь ноутбук к лету!)',
      text: 'У нас ежегодная акция "Подготовь ноутбук к лету!" 50% скидка на чистку ноутбука, 15.05.19-15.06.19 В чистку входит...',
      date: '07.07.2021'
    }
  ]

section.news 
  .container 
    h3.mb-4 Новости
    .row.g-3
      each item in news 
        include _news-card
    a(href="#").show-more.mt-4.ms-auto
      span Все новости
      +svgMono('arrow-right')