section.crumbs.my-4
  .container 
    nav(style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb")
      ol.breadcrumb.flex-nowrap.overflow-auto.mb-0
        li.breadcrumb-item.col-auto   
          a(href="#") Главная
        li.breadcrumb-item.active.col-auto(aria-current="page") Компьютерные комплектующие