section.crumbs.my-4
  .container 
    nav(style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb")
      ol.breadcrumb.mb-0
        li.breadcrumb-item  
          a(href="#") Главная
        li.breadcrumb-item  
          a(href="#") Компьютерные комплектующие 
        li.breadcrumb-item.active(aria-current="page") Материнские платы