section.crumbs.my-4
  .container 
    nav(aria-label="breadcrumb")
      ol.breadcrumb.flex-nowrap.overflow-auto.mb-0
        li.breadcrumb-item.col-auto 
          a(href="#") Главная
        li.breadcrumb-item.col-auto
          a(href="#") Ноутбуки
        li.breadcrumb-item.col-auto 
          a(href="#") Ноутбуки
        li.breadcrumb-item.active.col-auto(aria-current="page") Ноутбук Vinga Iron S140 Grey (S140-P50464GWP) комплектующие