.ico-color-advantages1 {
  width: 1em;
  height: 1em;
}
.ico-color-advantages2 {
  width: 1.14em;
  height: 1em;
}
.ico-color-advantages3 {
  width: 1.46em;
  height: 1em;
}
.ico-color-advantages4 {
  width: 1.06em;
  height: 1em;
}
.ico-color-advantages5 {
  width: 1.33em;
  height: 1em;
}
.ico-color-advantages6 {
  width: 0.87em;
  height: 1em;
}
.ico-color-advantages7 {
  width: 0.73em;
  height: 1em;
}
.ico-color-circle-check {
  width: 1em;
  height: 1em;
}
.ico-color-circle-close {
  width: 1em;
  height: 1em;
}
.ico-color-circle-minus {
  width: 1em;
  height: 1em;
}
.ico-color-courier {
  width: 1em;
  height: 1em;
}
.ico-color-example {
  width: 1em;
  height: 1em;
}
.ico-color-fb {
  width: 0.55em;
  height: 1em;
}
.ico-color-google {
  width: 1.04em;
  height: 1em;
}
.ico-color-gpay {
  width: 2.44em;
  height: 1em;
}
.ico-color-justin {
  width: 1em;
  height: 1em;
}
.ico-color-logo {
  width: 3.93em;
  height: 1em;
}
.ico-color-mastercard {
  width: 1.61em;
  height: 1em;
}
.ico-color-newpost {
  width: 1em;
  height: 1em;
}
.ico-color-newpost2 {
  width: 2.83em;
  height: 1em;
}
.ico-color-self-delivery {
  width: 1em;
  height: 1em;
}
.ico-color-ukrpost {
  width: 1em;
  height: 1em;
}
.ico-color-visa {
  width: 2.98em;
  height: 1em;
}
