.ico-color-advantages1 {
  width: 1em;
  height: 1em;
}
.ico-color-advantages2 {
  width: 1.14em;
  height: 1em;
}
.ico-color-advantages3 {
  width: 1.46em;
  height: 1em;
}
.ico-color-advantages4 {
  width: 1.06em;
  height: 1em;
}
.ico-color-advantages5 {
  width: 1.33em;
  height: 1em;
}
.ico-color-advantages6 {
  width: 0.87em;
  height: 1em;
}
.ico-color-advantages7 {
  width: 0.73em;
  height: 1em;
}
.ico-color-example {
  width: 1em;
  height: 1em;
}
.ico-color-logo {
  width: 3.93em;
  height: 1em;
}
