.sales-banner

  &-title
    font-size: 28px
    font-weight: 600
    color: $colorDarkGrey

  &-subtitle
    margin-bottom: 12px
    @extend %f-16-400-gs60

  &-description
    @extend %f-16-500
    a
      font-weight: 700
      color: $colorSecondary
      &:hover
        color: $colorSecondaryHover

  &-timer
    padding: 12px 16px
    &-counter
      display: flex
      align-items: center
      gap: 10px
      span
        font-size: 32px
        font-weight: 600
        color: $colorDark

      .seconds
        color: $colorRed

  .ico
    size: 24px
    fill: none
    stroke: $colorGS60
