section.banner 
  .container 
    .row
      .col-xl-3.order-xl-0.col-lg-12.mt-3.order-2.mt-xl-0
        include _banner-menu
      .col-xl-9.col-lg-12 
        .banner-content
          include _banner-slider
          include _banner-advantages
