.banner-advantages

  &-item

    text-align: center
    .ico
      margin-bottom: 15px
      font-size: 60px
      fill: none

    .text
      font-size: 12px
      font-weight: 700
      color: $colorDark
