.filter-checkbox
  &:not(:last-child)
    margin-bottom: 10px
  &.hidden
    display: none
  input
    display: none
    &:checked
      & + label
        &:hover
          &::before
            border-color: $colorSecondaryHover
        &::before
          border-color: $colorSecondary
        &::after
          display: block
    &:disabled
      & + label
        color: $colorGS40
        &::before
          border-color: $colorGS20
        &::after
          background-image: svg-load('../icons/svg-mono/check.svg', fill=$colorGS20)

  label
    position: relative
    padding-left: 30px
    @extend %f-12-500
    cursor: pointer
    &:hover
      &::before
        border-color: $colorSecondaryHover
      &::after
        background-image: svg-load('../icons/svg-mono/check.svg', fill=$colorSecondaryHover)
    &::before
      position: absolute
      content: ''
      top: 50%
      left: 0
      transform: translateY(-50%)
      size: 20px
      border: 1px solid $colorGS20
      border-radius: 4px
    &::after
      display: none
      position: absolute
      content: ''
      top: 50%
      left: 3px
      transform: translateY(-50%)
      size: 13px
      background-size: cover
      background-image: svg-load('../icons/svg-mono/check.svg', fill=$colorSecondary)

.form-checkbox
  input
    display: none
  label
    @extend %f-12-500

.order-client
  &-content
    display: none
    padding-left: 40px
    &-title
      font-size: 14px
      font-weight: 500
      color: $colorDarkGrey

  input[type="checkbox"]
    position: absolute
    size: 0.1px
    visibility: hidden
    &:checked
      & + label
        &::before
          background-color: $colorPrimary
        &::after
          left: calc(30px - 11px)
        & + .order-client-content
          display: block

  label
    position: relative
    padding-left: 40px
    font-size: 12px
    font-weight: 700
    color: $colorDarkGrey
    &::before
      position: absolute
      content: ''
      size: 32px 16px
      top: 50%
      left: 0
      border-radius: 100px
      transform: translateY(-50%)
      background-color: #C0C8CE
      transition: 0.25s all
    &::after
      position: absolute
      content: ''
      size: 10px
      top: calc(50%)
      left: 3px
      transform: translateY(-50%)
      border-radius: 50%
      background-color: $colorWhite
      transition: 0.25s all
