input
  font-family: $baseFont

.ct-input
  padding: 10px 13px
  width: 100%
  font-size: 12px
  font-weight: 700
  border: 1px solid $colorGS20
  border-radius: 4px
  &:focus
    border-color: $colorSecondary
  &::placeholder
    color: $colorGS10
  &.error
    color: $colorRed
    border-color: $colorRed

.error-message
  @extend .px-2
  font-size: 10px
  font-weight: 500
  line-height: 12px
  color: $colorRed

.input-group
  .ct-input
    flex: 1 1 auto
    width: auto
