input
  font-family: $baseFont

.ct-input
  padding: 10px 13px
  width: 100%
  font-size: 12px
  font-weight: 700
  border: 1px solid $colorGS20
  border-radius: 4px
  &:focus
    border-color: $colorSecondary
  &:placeholder
    color: $colorGS40

.input-group
  .ct-input
    flex: 1 1 auto
    width: auto
