.star-radio
  input[type='radio']
    position: absolute
    width: 0.1px
    height: 0.1px
    visibility: hidden
    &:checked
      & + label
        .ico
          fill: $colorYellow
      & + label ~ label
        .ico
          fill: #d9d9d9
  label
    cursor: pointer
    .ico
      size: 28px
      fill: $colorYellow
